body {
  margin: 10;
  padding: 10;
  background-color: #F6F7F8;
  color: #000A8F;

}


h2, h3 {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


table{

  margin-left: auto;
  margin-right: auto;
  width: 98%;
}





.tableALL tr{
  border: 1px solid black;
}




.form_div {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

li.nav_item {
  color: white;
}

.reg_form {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.changeP_form {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.results{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  /* margin: 10px; */
  /* border: 1px #000A8F; */
  
}

.login_form {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.review_form {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.flashes {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

.alert {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}
