{% extends "base.html" %}



{% block content %}

<h2> Create an account </h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <!-- <div class=flashes> -->
    {% for message in messages %}
    <div class="alerts"></div>
      <div class="alert alert-primary" role="alert">
        {{ message }}
      </div>
      
    </div>
    {% endfor %}
    <!-- </div> -->
  {% endif %}
{% endwith %}
<!-- Form template taken from Bootstrap and adapted to my needs  -->
<br/>
<form method="POST" class="reg_form">
    {{ form.hidden_tag() }}
      {{ form.userN.label(class="form-label") }}
      {{ form.userN(class="form-control") }}
    <br/>

    {{ form.uemail.label(class="form-label")}}
    {{ form.uemail(class="form-control")}}
    <br/>
    
    {{ form.passW1.label(class="form-label") }}
    {{ form.passW1(type="password",class="form-control") }}
    <br/>
    {{ form.passW2.label(class="form-label") }}
    {{ form.passW2(type="password",class="form-control") }}
    <br/>
    {{ form.submitB(class = "btn btn-primary") }}


</form>
</div>


{% endblock content %}
