<!DOCTYPE html>
<!-- This is the base.html template that all the other templates in the program inherit -->
<!-- It contains the links to all the bootstrap -->
<html>
<title> Bookworm </title>
  <head>
    <!-- used to import libraries required for bootstrap to work -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<!-- Navigation bar template taken from Bootstrap and adapted to my needs -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">Bookworm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- <li class="nav-item"> -->
        <!-- URL_FOR allows me to link the other routes to the navigation bar so that the user has the corresponding template rendered to them -->

      {% if session['user'] %}
      <li class="nav-item">
        <a class="nav-link" href = "/logout">Log out</a>
      </li>

      <li class = "nav-item">
        <a class="nav-link" href="{{ url_for('view_all') }}">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('view_completed') }}">Add A Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('changeP') }}">Change Password</a>
      </li>

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('view_uncompleted') }}">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('addTask') }}">Register<span class="sr-only">(current)</span></a>
      </li>
      

      
      {% endif %}
      

     
      

    </ul>
  </div>
</nav>
</div>

<p> </p>

    <div>
      {% block content %}{% endblock %}
    </div>


  </body>


</html>
