{% extends "base.html" %}



{% block content %}

<h2> Change Password </h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <!-- <div class=flashes> -->
    {% for message in messages %}
    <div class="alerts"></div>
      <div class="alert alert-primary" role="alert">
        {{ message }}
      </div>
      
    </div>
    {% endfor %}
    <!-- </div> -->
  {% endif %}
{% endwith %}

<br/>
<form method="POST" class="changeP_form">
    {{ form.hidden_tag() }}
    {{ form.currPass.label(class="form-label") }}
    {{ form.currPass(type="password",class="form-control") }}
</br>   

    {{ form.newPass1.label(class="form-label") }}
    {{ form.newPass1(type="password",class="form-control") }}

  </br>   
    {{ form.newPass2.label(class="form-label") }}
    {{ form.newPass2(type="password",class="form-control") }}
  </br>   

    {{ form.submitB(class = "btn btn-primary")}}
</form>

{% endblock content %}


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