
<!-- allows the template to inherit the base template for template inheritance -->
{% extends "base.html" %}
{% block title %}Login Page{% endblock title %}


{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <!-- <div class=flashes> -->
    {% for message in messages %}
    <div class="alerts"></div>
    <div class="alert alert-primary" role="alert" id="alert1">
      {{ message }}
      
    </div>
    </div>
    {% endfor %}
    <!-- </div> -->
  {% endif %}
{% endwith %}
  <br/>


<body>
  <h2> Review Book</h2>
  

  <form method="POST" class="review_form">
  {{ form.hidden_tag() }}

  {{ form.title.label(class="form-label") }}
  {{ form.title(class="form-control") }}
</br>   

  {{ form.author.label(class="form-label") }}
  {{ form.author(class="form-control") }}
</br>   

  {{ form.rating.label(class="form-label") }}
  {{ form.rating(class="form-control") }}
</br>   

  {{ form.comments.label(class="form-label") }}
  {{ form.comments(class="form-control") }}
</br>   

  {{ form.reccomend.label(class="form-label") }}
  {% for elem in form.reccomend %}
  </br>
  <tr>
    
  

  <td>{{ elem(class="form-check-input")}}</td>
  <td>{{ elem.label(class="form-check-label") }}</td>

  </tr>
  
  </br>
  {% endfor %}
  

  </br>
  
  
  {{ form.submitB(class = "btn btn-primary") }}

  </form>

</body>

  
{% endblock content %}
