{% extends "base.html" %}
{% block title %}Login Page{% endblock title %}


{% block content %}


<body>
  <h2> Log In</h2>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <!-- <div class=flashes> -->
    {% for message in messages %}
    <div class="alerts"></div>
    <div class="alert alert-primary" role="alert" id="alert1">
      {{ message }}
      
    </div>
    </div>
    {% endfor %}
    <!-- </div> -->
  {% endif %}
{% endwith %}
  <br/>
  <form method="POST" class="login_form">
    {{ form.hidden_tag() }}

    {{ form.userN.label(class="form-label") }}
    {{ form.userN(class="form-control") }}

    <br/>

    {{ form.passW.label(class="form-label") }}
    {{ form.passW(class="form-control", type="password") }}
    <br/>

    {{ form.submitB(class = "btn btn-primary") }}

  </form>


</body>
{% endblock content %}
