{% extends "base.html" %}
{% block title %}Login Page{% endblock title %}


{% block content %}


<body>
    <h2> Reviews </h2>
    {%if not revs %}
    <h3>What are you wating for? add your first review!</h3>
    {% endif %}
   

    
        {% for elem in revs %}
        <div class="results"> 
        <h4 class="text-center">Title: {{elem.title}}</h4>
        <h5 class="text-center">Author: {{elem.author}}</h5>
        <p>Rating: {{elem.rating}} / 10</p>
        <p>Comments: {{elem.comments}}  </p>
        
        {% if elem.reccomend == True %}
            <p>Reccomend to others: YES</p>
        {% else %}
            <p>Reccomend to others: NO</p>
        {% endif %}
        <a href="/delete/{{elem.revId}}">Click here to remove this review</a>
        </br>
        </div>
        
        {% endfor %}


    
    

  
</body>
{% endblock content %}
